<!-- <hello name="{{ name }}"></hello>
<p>
  Start editing to see some magic happen :)
</p>
<div *ngFor="let d of data | paginate: { itemsPerPage: 10, currentPage: p }" >
  <p>"userId" = {{ d.userId }}</p>
  <p>"id" = {{ d.id }}</p>
  <p>"title" = {{ d.title }}</p>
  <p>"completed" = {{ d.completed }}</p>
  <hr>
</div>
<pagination-controls (pageChange)="p = $event" class="float-right"></pagination-controls> -->

<hello name="{{ name }}"></hello>
<p>
	Start editing to see some magic happen :)
</p>

<p>Http Request</p>

<table width="100%">
	<tr>
		<th>Id</th>
		<th>Name</th>
		<th>User Id</th>
		<th>Status</th>
	</tr>
	<tr *ngFor="let datas of httpData | paginate: { itemsPerPage: 10, currentPage: p }">
		<td>{{datas.id}}</td>
		<td>{{datas.title}}</td>
		<td>{{datas.userId}}</td>
		<td>{{datas.completed}}</td>
	</tr>
</table>
<pagination-controls (pageChange)="p = $event" class="float-right"></pagination-controls>